stages:
    - test

before_script:
    - apt-get update -yyq
    - apt-get upgrade -yyq --no-install-recommends
    - apt-get install git graphviz make autoconf automake libtool --no-install-recommends -yyq
    - git clone https://github.com/akheron/jansson.git && cd jansson
    - autoreconf -fi
    - ./configure && make && make check && make install
    - gcc --version

ubuntu-14.04:
    image: ubuntu:14.04
    stage: test
    script:
        - make
        - make data
        - make test

ubuntu-16.04:
    image: ubuntu:16.04
    stage: test
    script: 
        - make 
        - make data
        - make test
