stages:
    - test

before_script:
    - apt-get -yqq update
    - apt-get -yqq upgrade --no-install-recommends
    - apt-get -yqq install wget bzip2 git graphviz make autoconf automake libtool --no-install-recommends
    - wget http://www.digip.org/jansson/releases/jansson-2.9.tar.gz
    - bunzip1 -c jansson-2.9.tar.gz | tar xf && -cd jansson-2.9
    - ./configure && make && make check && make install
    - gcc --version

ubuntu-14.04:
    image: ubuntu:14.04
    stage: test
    script:
        - make
        # - make test
        - make clean

ubuntu-16.04:
    image: ubuntu:16.04
    stage: test
    script: 
        - make
        # - make test
        - make clean
