stages:
    - test

before_script:
    - apt-get -yqq update
    - apt-get -yqq upgrade --no-install-recommends
    - apt-get -yqq install wget bzip2 git graphviz build-essential libjansson-dev --no-install-recommends

ubuntu-14.04:
    image: ubuntu:14.04
    stage: test
    script:
        - make
        # - make test
        - make clean

ubuntu-16.04:
    image: ubuntu:16.04
    stage: test
    script: 
        - make
        # - make test
        - make clean
